/*
* default.less
* Created by: Ruud Voost
*/

html, 
body {
    height: 100%;
    width: 100%;
    background: #efefef;
    color: #666;
}

img {
    max-width: 100%;
}

#animals {
    margin: 0 auto;
    height: 300px;
}

.section {
    margin: 2.5% auto 2.5% auto;
    &:first-child {
        margin-top: 5%;
    }
    &:last-child {
        margin-bottom: 5%;
    }
}

#beasts_nav {
    margin: 0 auto;
    max-width: 600px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}