/*
* default.less
* Created by: Ruud Voost
*/

html, 
body {
  height: 100%;
  width: 100%;
  background: #ff0;
}

img {
    max-width: 100%;
}

#beasts {
    background: red;
    height: 300px;
    width: 600px;
    margin: 10% auto;
    .zwiper-slide {
        &:nth-child(1) {
            background: magenta;
        }
        &:nth-child(2) {
            background: green;
        }
        &:nth-child(3) {
            background: pink;
        }
    }
}