/*
* default.less
* Created by: Ruud Voost
*/

html, 
body {
    height: 100%;
    width: 100%;
    background: #efefef;
    color: #666;
}

img {
    max-width: 100%;
}

#animals {
    height: 300px;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
}

.section {
    margin: 5% auto 0 auto;
    width: 600px;
    height: 300px;
}

#beasts_nav {
    margin: 0 auto;
    max-width: 600px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}