/*
* zwiper.less
* Created by: Ruud Voost
*/

// Mandatory styling for Zwiper to work
.zwiper-container {
    height: 300px; // mandatory
    width: 600px; // mandatory
    overflow: hidden;
}

.zwiper-wrapper {
    // set height to 100% of .zwiper-container
    height: 100%;
}

.zwiper-slide {
    // set .zwiper-slide to 100% .zwiper-container
    height: 100%;
    margin: 0;
    float: left;
}