/*
* zwiper.less
* Created by: Ruud Voost
*/

// Mandatory styling for Zwiper to work
.zwiper-container {
  height: 300px; // mandatory
  width: 50%; // mandatory
  overflow: hidden;
}

.zwiper-slide {
    width: 100%;
    height: 100%;
    float: left;
}